*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
}
html,body{
    font-family: roboto,sans-serif,arial;
    font-size: 14px;
    color: #242424;
    font-weight: 400;
}
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color:transparent;
}
.container{
    width: 1150px;
    margin: 0px auto;
    display: table;
}
.width-50{
       width: 50%;
       float: left;
}
.width-100{
       width: 100%;
       float: left;
}
.width-40{
       width: 40%;
       float: left;
    }
    .width-20{
       width: 20%;
       float: left;
    }
    .width-25{
        width: 25%;
        float: left;
    }
    .width-60{
        width: 60%;
        float: left;
    }
    .width-30{
       width: 30%;
       float: left;
    }
    .width-33{
            width: 33%;
            float: left;
    }
.header-top{
      background: #b13d39;
      width: 100%;
      float: left;
}
.header-left{
    list-style: none;
    float: left;
}
.header-left li{
        float: left;
        padding: 10px 0px;
        margin-right: 20px;
}
.header-left li a{
          font-size: 15px;
          color: #fff;
          text-decoration: none;
}
.header-right{
    list-style: none;
    float: right;
}
.header-right li{
        float: left;
        padding: 10px 0px;
        margin-right: 12px; 
}
.header-right li a{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.header-right li{
         
        }
         
        
        .header-nenu{
            display: flex;
             justify-content: space-between;
             align-items: center;
            
             
        }
        .header-nenu img{
             width: 15rem;
        }
         .logo img{
            height: 8rem;
            width: 8rem;
         }
        .header-nenu ul{
               display: flex;
               list-style: none;
               gap:3rem;
             
              
        }
        .header-nenu ul a{
            text-decoration: none;
            color: black;
             font-weight: bold;
             font-family: 'Bree Serif', serif;
             font-size: 17px;
            

        }
        .banner{
            width: 100%;
            height: 45rem;
            border-top: 1px solid #cccfff;
            opacity: 0.3;
        }
        .notification{
            width: 100%;
            float: left;
            padding: 12px;
            background: #ebebeb;
        }
        .notification b{
            color: #b13d39;
            font-size: 23px;
            float: left;
            position: absolute;
            background: #e3e3e3;
            z-index: 9999;
            font-family: 'Bree Serif', serif;
        }
        .notification marquee{
            list-style: none;
            font-size: 18px;
            font-family: 'Bree Serif', serif;
        }
        .notification marquee img{
            height: 16px;
        }
         
        
         
        
        .notice-board-sect{
            background: #fff;
            float: left;
            margin: 0px auto;
            display: table;
            width: 98%;
            padding: 15px 10px 20px 10px;
        }
        .notice-board-sect h2{
               font-size: 23px;
               text-align: left;
               padding: 10px 10px 10px 20px;
               width: 100%;
               float: left;
               color:  #b13d39;
               font-family: 'Bree Serif', serif;
              
        
        }
        .notice-board{
            width: 100%;
            float: left;
            border: 3px solid #787eff;
            margin-top: 10px;
            border-radius: 10px;
            
        }
        .notice-board ul{
            list-style: none;
            width: 100%;
            float: left;
            padding: 0px 10px 0px 5px;

        }
        .notice-board ul li{
            width: 100%;
            float: left;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .notice-board img{
             margin-right: 5px;
             margin-left: 5px;
             width: 35px;
        }
        .event-list{

        }
        .event-list li{
           width: 100%;
           float: left;
           box-shadow: 0px 0px 2px 0px #ffffff1f;
           margin-bottom: 20px;
           list-style: none;
           padding: 10px 6px 10px 5px;
           border: 1px solid #dddddd;
           border-radius: 10px;
        }
        .event-date{
           float: left;
           width: 85px;
           text-align: center;
           border: 2px solid #787eff;
           padding-top: 5px;
           border-radius: 10px;
        }
        .event-date h3{
            font-size: 18px;
            padding-top: 0px;
        }
        .event-date p{
       font-size: 14px;
       background: #787eff;
       color: #fff;
       padding: 5px;
       margin-top: 5px;
        }
        .event-content{
          float: left;
          width: calc(100% - 90px);
          padding: 0px 0px 0px 10px;
        }
        .event-content h5{
          font-size: 18px;
          margin-bottom: 6px;
          color: #424242;
          font-weight: 500;
        }
        .event-content a{
          color: #787eff;
          text-decoration: none;
          font-weight: bold;
          margin-right: 50px;
        }
        .event-content p{
           font-size: 16px;
           border-top: 1px solid #e3e3e3;
           margin-top: 8px;
           padding-top: 9px;
        }
        .heading-section{
          font-size: 25px;
          text-align: center;
        }
        .heading-section span{
            color:#b13d39;
        }
        .abc{
              font-family: 'Bree Serif', serif;
 
 
 
 
        }
        .course-list{
            width: 100%;
            float: left;
            padding: 0px;
            list-style: none;
        }
        .course-list li{
            width: 27%;
            float: left;
            padding: 0px;
            list-style: none;
            text-align: center;
            padding: 20px 2px;
            margin: 3%;
            border-radius: 10px;
        }
        .course-list p{
            color:#fff;
            font-size: 18px;
            margin-top: 10px;
        }
        .fa{
            display: inline-block;
            font: normal normal normal 14px/1 fontawesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing:antialiased;
            -moz-osx-font-smoothing:grayscale;
        }
        .course-list i{
            font-size: 38px;
            color: #fff;
        }
        .course-list li:nth-child(1){
               background: #b13d39;
               
        }
        .course-list li:nth-child(2){
            background: #b13d39;
        }
        .course-list li:nth-child(3){
            background: #b13d39;
        }
        .course-list li:nth-child(4){
            background: #b13d39;
        }
        .principal-img img{
            width: 100%;
            border: 5px solid#b13d39;
            padding: 4px;
        }
        .principal-info{
             width: 100%;
             float: left;
             padding: 30px;
        }
        .principal-info h6{
            font-size: 15px;
            margin-bottom: 15px;
            color: #b13d39;
        }
        .principal-info h1{
            color: black;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .principal-info h1 span{
              color: #b13d39;
        }
        .principal-info h5{
             font-size: 16px;
             margin-bottom: 30px;
             font-weight: 400;
             color: #585858;
        }
        .principal-info p{
              font-size: 15px;
              margin-bottom: 30px;
              line-height: 25px;
              color: #1e1e1e;
        }
        .principal-info a{
                background: #b13d39;
                text-decoration: none;
                color: #fff;
                padding: 12px 20px;
                float: left;
                border-radius: 5px;
        }
        .gallery{
            width: 100%;
            float: left;
            margin-top: 30px;
        }
        .gallery img{
            height: auto;
            aspect-ratio: 3/2;
            width: 98%;
            margin-bottom: 10px;
            object-position: center;
            object-fit: cover;
        }
        
        
.wrapper{
width: 80%;
padding: 30px 0;
text-align: center;
margin:10%;
}
.section-header{
text-transform: uppercase;
line-height: 70px;
padding-bottom: 30px;
font-size: 50px;
color: #262626;
letter-spacing: 2px;

}
.content {
padding: 10%;
}
.content h2 {
font-size: 30px;
text-transform: uppercase;
margin-bottom: 15px;
}
.content p {
line-height: 1.5;
font-size: 23px;
font-family: 'Bree Serif', serif;
color: #b13d39;
font-weight: bold;
}
.main-content{
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-main-content-gap: 25px;
grid-column-gap: 15px;
}
.main-content .box{
position: relative;
cursor: pointer;
margin-bottom: 15px;
box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
height: 250px;
overflow: hidden;    
}
.main-content .box::before{
content: '';
position: absolute;
top: 0;
right: 0;
width: 5px;
height: 100%;
transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
top: 0;
right: calc(100% - 5px);
z-index: 10;
}
.main-content .box img{
width: 100%;
height: 100%;
object-fit: cover;
}
.main-content .box .img-text {
position: absolute;
display: flex;
justify-content: center;
align-items: center;
background: rgba(255,255,255,0.9);
width: 100%;
height: 100%;
top: 0;
right: 100%;
transition: all 0.5s ease-in-out;	
}
.main-content .box:hover .img-text{
top: 0;
right: 0;
}
.counter{
text-align: center;
padding: 30px 20px 30px 20px;
width: 90%;
margin: 1%;
background: #b13d39;
color: #fff;
border-radius: 10px;
}
.counter i{
font-size: 50px;
}
.counter h5{
font-size: 25px;
margin-top: 10px;
}
.counter p{
font-size: 14px;
}
.placement p{
font-size: 16px;
color: #2a2a2a;
line-height: 30px;
}
.placement ul{
width: 100%;
float: left;
list-style: none;
padding: 0px;
margin-top: 20px;
}
.placement ul li{
width: 24%;
float: left;
margin-right: 1%;
}
.placement ul li img{
width: 100%;
border: 1px solid darkgray;
}
.placement-img{
width: 100%;
padding: 0px 30px 30px 30px;
}

.footer-section{
width: 100%;
float: left;
padding-top: 50px;
padding-bottom: 20px;
background: #b13d39;
}
.footer-section h3{
font-size: 28px;
color: #fff;
}
.footer-section p{
font-size: 14px;
line-height: 25px;
color: #fff;
margin-top: 20px;
padding: 0px 30px 0px 0px;
}
.footer-about i{
border: 1px solid #e5e3e3;
font-size: 20px;
margin-right: 10px;
margin-top: 20px;
background: #fff;
border-radius: 50%;
height: 40px;
width: 40px;
text-align: center;
line-height: 40px;
color: #b13d39;
}
.quick-link ul{
margin-top: 30px;
list-style: none;
 
width: 100%;
}
.quick-link li{
width: 70%;
 
margin-bottom:20px;
}

 
.logo2 img{
    height: 11rem;
    width: 35rem;
    margin-top: 70px;
    
 }

.quick-link li a{
font-size: 14px;
color: #fff;
text-decoration: none;
letter-spacing: 0.5px;
} 
.copyright{
text-align: center;
border-top: 1px solid #b3b3b3;
margin-top: 30px;
padding-top: 20px;
color: #fff;
}